<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats!</h3>
    <form action="/chats/new">
        <button>New chat</button>
    </form><br>
    <% for (const chat of chats) { %>
        <div class="chat">
            <p class="from">From : <i> <%= chat.from %> </i></p>
            <div class="msg">                
                <p> <%= chat.msg %></p>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button>Edit</button>
                </form><br>
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button id="del">Delete</button>
                </form>
                <form method="get" action="/chats/<%= chat._id %>">
                    <button>Show</button>
                </form>
            </div>
            <p>Received by : <i> <%= chat.to %> </i></p>
            <p>Time : <%= chat.created_at.split(" ")[4] %> </p>
            <p>Date : <%= chat.created_at.split(" ").slice(0,4).join("-") %> </p>
        </div>
        <hr>
        <br><br>
    <% } %>


</body>
<script src=""></script>
<script src="app.js"></script>
</html>